@import '../../styles/colors.scss';

.card {
  margin: 20px;
  box-shadow: 0 4px 10px $grey-opacity;
  background-color: $white;
  order: 0;
  width: 200px;
  border-radius: 3px;
}

@media only screen and (max-width: 600px) {
  .cardPrincipal {
    order: -1;
  }
}
